.about {
  color: black;
  .row {
    text-align: center;
    max-width: 1600px;
  }
  .content {
    margin: 5rem auto;
  }
  img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 100%;
    margin: 10%;
    padding: 3px;
    border: 2px lightgray solid;
  }
  .avatar {
    margin-left: 0;
  }
  #trees {
    width: 100%;
    position: absolute;
    top: 15%;
    left: -10%;
  }
  #dog {
    width: 70%;
    position: absolute;
    left: -15%;
    top: 55%;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.page-footer {
  color: black;
  font-size: 1.2rem;
  position: relative;
  a {
    color: black;
  }
  i {
    font-size: 3rem;
    position: absolute;
    margin: 5px;
    top: 2%;
  }
}

@media (min-width: 576px) {
  .about {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .page-footer {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .about {
    .text {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
    }
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}
